*
{
		font-family: "Verdana", Arial;
}
body
{
	background-color: #e7e7e7;
	word-wrap: break-word;
}
h1
{
	width: 75%;
	min-width: 300px;
	color: darkgreen;
	font-size: 1.5em;
	text-align: center;	
	box-shadow: 3px 3px 3px grey;
	padding: 2px;
	margin: auto;
}
h2
{
	color: seagreen;
	font-size: 1.25em;
}

p
{
	width: 80%;
	min-width: 300px;
	max-width: 1500px;
	font-size: 1em;
	text-align: justify;
	background-color: rgba(250, 250, 250, 0.2);
	overflow: auto;
    word-wrap: break-word;
}
section
{
	width: 90%;
	min-width: 290px;
	border: 1px solid lightgrey;
	text-align: justify;
	padding: 6px;
	margin: auto;
	overflow: auto;
    word-wrap: break-word;
}
